*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    color: white;
}
#encabezado {
    height: 40px;
    color: #bada55;
    background-color: #B58A69;
}
#contenedor{
    width: 900px;
    height: 500px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #5e5e4a;
}

.encabezado2{
    font-size: 25px;
    text-align: center;
}
#texto{
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}
#menu {
    color: #0000;
    font-size: 18px;
    height: 60px;
    margin-top: 15px;
    margin: 3em;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    display: inline;
	padding: 10px 30px;
	margin: 1em;
}

#seccion{
    height: 55%;
    background-color: #dee5de;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
    text-align: justify;
    padding-right: 15px;
}


#seccion2{
    height: 40%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    background-color: #d7d7cb;
}

.encabezado-aside{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

.img{
    width: 200px;
    height: 110px;
    padding-top: 20px; 
    align-items: center;
}


#pie {
    color: #e8e6e6;
    padding: 5px;
    background-color: #5e5e4a;
    margin-left: 50px;
    margin-right: 50px;
   
    
}

li a:hover{
    color: red;
    text-decoration: none;
    list-style: none;
}

